@import "variables.scss";
@import "mixins.scss";



// global Rules
body {
    font-size: $defaultFontSize;
    color: $fontColor1;
    font-family: 'Playfair Display', serif;
}

// header start
header {
    padding: 27px;
    nav {
        a {
            padding-right: 105px !important;
            &:hover {
                color: #000000;
            }
        }
        li {
            &:last-child {
                a {
                    padding-right: 0 !important;
                }
            }
        }
    }
}

.logo {
    color: $fontFooter;
    font-size: $titleFontSize;
    font-family: 'Inconsolata', monospace;
    letter-spacing: 5px;
}
// header end


// banner start

// banner end


// blog start
.blog_wrapper{
    padding: 30px 0;
    p{
        @include defaultFont;
        word-spacing: 1px;
        letter-spacing: .5px;

        &:first-of-type{
            @include fontPattern3;
        }

        &:last-child{
            margin-top: 35px;
            @include fontPattern3;
        }
    }
    h2{
        @include fontPattern2;
    }
}
// blog end

// contents start

.item_wrapper{
    p{
        @include defaultFont;
        &:first-of-type{
            @include fontPattern3;
        }
    }
    h2{
        @include fontPattern2;
    }
}

// contents end